PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE books (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          title TEXT NOT NULL,
          author TEXT NOT NULL,
          isbn TEXT,
          price REAL
      );
INSERT INTO books VALUES(2,'Clean Code','Robert C. Martin',NULL,19.98999999999999843);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('books',2);
COMMIT;
